<!DOCTYPE html>
<html>
  <head>
    <title>Georgia On Your Mind</title>
    <link rel="stylesheet" href="./css/temp.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
        </ul>
      </nav>
    </header>
    
    <section class="hero">
      <img src="./images/test.jpg" alt="Campground" class="hero-image">
      <div class="hero-content">
        <h1>Georgia On Your Mind</h1>
        <p>Go Park Yourself</p>
        <button><a href="/login">Login</a></button>
        <button><a a href="/signup">Sign-up</a></button>
      </div>
    </section>
    
    <section class="main-content">
      <!-- Your main content here -->
    </section>
    <a href="/home"></a>
    <footer>
      <!-- Your footer content here -->
    </footer>
    
  </body>
</html>
