<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <!-- <h1>Log in</h1>
  <p>This is  where you log in to make and/or see comments</p> -->

  <script src="XXXXXX"></script>
</body>

<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../public/css/temp.css">
  </head>
  <body>
    <div class="login-box">
      <h2>Login</h2>
      <form>
        <div class="user-box">
          <input type="text" name="email" id="email" required>
          <label>email</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" id="password" required>
          <label>Password</label>
        </div>
        <a href="#">Forgot Password?</a>
        <input type="submit" value="Submit" id="submit">
      </form>
    </div>
    <script src="../public/js/login.js"></script>
  </body>
</html>

